body {
    overflow-y: auto; /* Görgetés engedélyezése függőlegesen */
    background-image: url("hatter.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div {
    text-align: center;
}


#csoport{
  color: #000;
}
#content {
    border-color: lightgrey;
    border-style: solid;
    border: 10px;
    overflow: auto;
    

}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
    
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 { color: black; font-family: 'Open Sans Condensed', sans-serif; font-size: 40px; font-weight: 700; line-height: 64px; margin: 0 0 0; padding: 10px 20px; text-transform: uppercase; text-align: left; }
p {  font-family: 'Open Sans', sans-serif;  line-height: 28px; margin: 0 0 5px; text-align: left; }
input{ float: left; color: black 70% ; }

.list{
    text-align: left;
    margin: 1px;
    padding-right: 10px;
    color:  rgb(236, 223, 198);
    display: flex;
    align-items: center;
    cursor: grab;

    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 60px;
}
body{
    width: 100%;
    height: 1000%;
}






.right{
  color: grey;
  align-self  : center;
  background-color  : hsla(0, 0%, 46%, 0.8);
  display  : inline-block;
  margin  : 15px;
  border  : 1px dashed ;
  border-color: white;
  border-radius: 10px;
  position  : relative;
  overflow  : auto;
  overflow-y  : auto;
  max-height  : 35px;
  width  : 10%;
  justify-content  : center;
  text-align: center;
  height: 35px;
  overflow: hidden;
}

.list:hover{
    color: rgb(238, 195, 114);
}
.biglist:hover{
    color: rgb(253, 6, 253);
}